@font-face {
  font-family: "iconfont"; /* Project id 4477975 */
  src: url('iconfont.woff2?t=1711094231730') format('woff2'),
       url('iconfont.woff?t=1711094231730') format('woff'),
       url('iconfont.ttf?t=1711094231730') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-log:before {
  content: "\e61e";
}

.icon-alarm:before {
  content: "\e7e1";
}

